html {
  font-size: 100%;
}

body {
  font-family: Sans-Serif;
  /*font-size: 1.2rem;*/
  color: white;
  background-color: #4684ff;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

/*main {
  max-width: 600px;
}

h2 {
  font-size: 18px;
}
*/
input {
  display: block;
}

.result-item {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
}

.user a:hover,
.user a:focus,
.search input:focus,
.search button:focus, 
.results a:hover,
.results a:focus {
  outline: 5px dotted salmon;
}
}